.new-listing {
  &-page {
    &-container {
      display: flex;
      align-content: center;
      margin: 2em;
    }
    &-content {
      & input {
        height: 2vh;
      }
      &-left {
        padding: 1em;
        border-radius: 2em;
        margin-left: 3em;
        border: 1px solid lightgreen;
        width: 70%;
        h2 {
          margin: 0;
        }
        textarea {
          &#description {
            border-radius: 1em;
          }
        }
        .new-listing-btn {
          background-color: #2ca89b;
          color: #ffff;
          height: 6vh;
          border-radius: 1em;
          border: 1px solid #004241;
          font-weight: bold;
          letter-spacing: 0.15em;
          font-size: 30px;
          width: 30%;
          font-family: 'Shadows Into Light', cursive;
          &:hover {
            background: #004241;
            border: 1px solid #2ca89b;
          }
        }
      }
      &-right {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 1em;
        border-radius: 2em;
        margin-left: 3em;
        border: 1px solid lightblue;
        width: 30%;
      }
    }
  }
}

input[type='file'] {
  border: none;
  border-radius: 0;
  padding: 0 0.5em 0 0;
}
