.slider-container {
  width: 80%;
  & div {
    justify-content: flex-start;
    background-color: black;
    & h3 {
      color: white;
      text-align: center;
    }
  }
}

.slick-slide {
  width: 175px;
  color: white;
  img {
    width: auto;
    max-width: 60%;
  }
}

.slick-next:before,
.slick-prev:before {
  color: #004241;
  font-size: 80px;
}

.slick-prev {
  left: -90px;
}

.slider-content {
  display: flex !important;
}

.slick-track {
  height: 12vh !important;
  width: 125%;
}

.item-info {
  display: flex;
  justify-content: center;
  margin: 0.15em;
}

.slider-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
}

.slick-slide.slick-active {
  width: 301px;
  border-left: 4px dotted #f5ae02;
  height: 24vh;
}
