.discover {
  &-page {
    &-container {
      display: flex;
      margin: 0 1em;
      padding: 0 1em;
    }
    &-content {
      .welcome-header {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      h2 {
        margin: 0 1em;
        width: 50%;
        font-size: 50px;
        padding: 0;
        margin: 0;
      }
      &-buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        button {
          margin: 0 3em 0 0;
        }
        .save-listing-btn {
          background-color: #faedbe;
          color: #000000;
          height: 6vh;
          border-radius: 1em;
          border: 1px solid #f5ae02;
          font-family: 'Shadows Into Light', cursive;
          letter-spacing: 0.1em;
          font-weight: bold;
          font-size: 18px;
          padding: 0.75em;
          width: fit-content;
          &:hover {
            background: #f5ae02;
            border: 1px solid #faedbe;
          }
        }
        .new-listing-btn {
          background-color: #2ca89b;
          color: #ffff;
          height: 6vh;
          border-radius: 1em;
          border: 1px solid #004241;
          font-weight: bold;
          font-size: 18px;
          letter-spacing: 0.1em;
          padding: 0.75em;
          font-family: 'Shadows Into Light', cursive;
          width: fit-content;
          &:hover {
            background: #004241;
            border: 1px solid #2ca89b;
          }
        }
      }
    }
    &-logistics {
      p {
        font-size: 17px;
      }
    }
  }
}
