.about-page {
  &-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 4em;
    h2 {
      font-size: 45px;
      padding: 0 0.25em;
      color: #ffffff;
      background-color: #004241;
    }
    p {
      letter-spacing: 0.01em;
      margin: 0.5em;
    }
  }
}
